body {
  display: flex;
  flex-direction: column;
}

.form {
  border: 4px solid green;
  display: flex;
  align-items: center;
  margin: 30px 20px 50px;
  // & > :first-child {
  //   height: auto;
  //   justify-content: start;
  // }
  // & > :last-child {
  //   height: auto;
  //   justify-content: end;
  // }
  & .inputs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  & .right {
    flex-grow: 2;
  }
}

.labelInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
}

.task {
  border: 1px solid gray;
  padding: 20px;
  margin: 10px;
  width: 250px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
}

.task span {
  padding-right: 10px;
}

.actions {
  color: blue;
}

.customTask {
  background-color: red;
}
